body{
  background-image: url(/img/wall.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 500px;  
}

p{
  text-align: left;
  font-family: 'Philosopher', sans-serif;
  font-size: 1.5rem;
}

#footer{
  text-align: center;
  font-size: .95rem;
}

.contact{
  text-align: center;
}

ul{
  margin-left: 3.5rem;
}

.pics{
  transform: rotate(0.25turn);
  vertical-align: 0%;
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: auto;
  margin-left: auto;
  width: 33%;

}

#cert{
  width: 75%;
  margin-left: 10%;
}

.title, h1{
  font-family: 'Henny Penny', sans-serif;
  text-align: center;
  color: purple;
  font-size: 3rem;
  width: 100%;
  margin-top: 0.75rem; 
}


.button{
  font-size: 1.5rem; 
}



.App{
  background-color:  #E5E5E5;
}

.nav{
 background-image: url(/img/white-fabric.jpg);
 background-repeat: no-repeat;
  background-size: 100%; 
}

.Col{
  padding-left: 0px;
  padding-top: 10%;
}



@media (max-width: 370px){
  .logo{
    display: none;
  }
  .Col{
    padding-top: 0;
    padding-left: 0.5rem;
    padding-right: 1rem;
  }
  .title, h1{
    font-size: 1.5rem;
  }

  .button{
    font-size: 1rem;
  }
  .contact{
    font-size: 1.2em;
  }
}

@media (min-width: 371px ) and (max-width: 750px){
  .logo{
    display: none;
  }
  .Col{
    padding-top: 0;
    padding-left: 0.5rem;
    padding-right: 1rem;
  }
  .button{
    font-size: 1.5rem;
  }
  .title, h1{
    font-size: 2rem;
  }
  p{
    padding: 0;
  }
  .contact{
    font-size: 1.2em;
  }
 
}